
<!-- con esto le digo a angular que renderice las componentes segun las rutas que yo he creado -->
<router-outlet></router-outlet>

<!--

<div class="row">
  <div class="col-1">
    <ul>
      <li>
        <a routerLink='/auth/login'> Ir a auth login </a>
      </li>
    </ul>
  </div>

  <div class="col-1">
    <ul>
      <li>
        <a routerLink='/auth/registro'> Ir a resgistro </a>
      </li>
    </ul>
  </div>


  <div class="col-1">
    <ul>
      <li>
        <a routerLink='/heroes'> Ir a heroes </a>
      </li>
    </ul>
  </div>


  <div class="col-1">
    <ul>
      <li>
        <a routerLink='/heroes/listado'> Ir a listado heroe </a>
      </li>
    </ul>
  </div>


  <div class="col-1">
    <ul>
      <li>
        <a routerLink='/heroes/agregar'> Ir a agregar heroe </a>
      </li>
    </ul>
  </div>


  <div class="col-1">
    <ul>
      <li>
        <a routerLink='/heroes/editar/añlsdkj'> Ir a editar heroe </a>
      </li>
    </ul>
  </div>



  <div class="col-1">
    <ul>
      <li>
        <a routerLink='/heroes/buscar'> Ir a buscar heroe </a>
      </li>
    </ul>
  </div>



  <div class="col-1">
    <ul>
      <li>
        <a routerLink='/heroes/idheroenoseporquesto'> Ir a  heroes : id </a>
      </li>
    </ul>
  </div>
</div> 

-->